@use "../../scss/" as *;
.skill-heading {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  @include mobile {
    font-size: 21px;
    text-align: left;
  }
}
.skill {
  @include flex(center, flex-start);
  flex-wrap: wrap;
  gap: 2.5rem 0;
  &-item {
    @include flex(center, center);
    flex-direction: column;
    width: 25%;
    @include mobile {
      width: 50%;
    }
    &__img {
      @include flex(center, center);
      width: 120px;
      height: 120px;
      $skill-bg: 37, 37, 37;
      background-color: var(--toggle-color);
      border-radius: 50%;
      transition: box-shadow .3s ease, transform .3s ease;
      &-wrap {
        width: 60%;
        height: 60%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:hover {
        box-shadow: 0 0 3px var(--toggle-color);
        transform: scale(1.05);
      }
    }
    &__name {
      & h6 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        font-family: $pp-font;
      }
    }
  }
}
