@charset "utf-8";

/* ------------------------------------------------------
reset
common
layout
unique
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
reset
---------------------------------------------------------------- */
#mp_footer * {
margin:0;
padding:0;
}
/* ----------------------------------------------------------------
common
---------------------------------------------------------------- */
.mp_pt11 {
padding-top:11px !important;
}
.mp_pr0 {
padding-right:0 !important;
}
/* ----------------------------------------------------------------
layout
---------------------------------------------------------------- */
#mp_origin_footer {
border-top:1px solid #0068b7;
}
#mp_origin_footer #mp_footer {
margin-top:30px;
}
#mp_footer {
width:980px;
margin-top:40px;
margin-right:auto;
margin-left:auto;
padding:0 0 20px;
font-size:10px;
text-align:left;
}
#mp_footer * {
font-family:"メイリオ",Meiryo,"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Osaka,"MS P Gothic","ＭＳ Ｐゴシック",sans-serif;
}
#mp_footer .mp_footer_inr {
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
}
#mp_footer .mp_footer_col_l {
width:322px;
}
#mp_footer .mp_footer_col_r {
width:658px;
}
/* ----------------------------------------------------------------
unique
---------------------------------------------------------------- */
#mp_footer .mp_footer_col_l a {
color:#435b67;
font-weight:bold;
text-decoration:underline;
}
#mp_footer .mp_footer_col_r_list {
padding:9px 0 0;
text-align:right;
line-height:2.4;
}
#mp_footer .mp_footer_col_r_list li {
display:inline-block;
margin-left:15px;
padding-left:7px;
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAFCAYAAACAcVaiAAAAP0lEQVQYV2OsWvfqf6WPMAMPKxMDo037/f+CgkIMU0PZIZy7734zKAuxQjhaolwM9WGiDIzrr7z/H6AtwAACAOIrFTmgwvelAAAAAElFTkSuQmCC) no-repeat left 50%;
}
#mp_footer .mp_footer_col_r_list a:link {
color:#0087e6;
text-decoration:none;
}
#mp_footer .mp_footer_col_r_list a:visited {
color:#63c;
}
#mp_footer .mp_footer_col_r_list a:hover {
text-decoration:underline;
}