@charset "utf-8";

/* ----------------------------------------------------------------
* recommend
---------------------------------------------------------------- */
@keyframes fadeIn {
0% {
opacity:0;
}
100% {
opacity:1;
}
}

@keyframes fadeOut {
0% {
opacity:1;
}
100% {
opacity:0;
}
}

#mp_body {
overflow-y:scroll;
margin:0;
}
#mp_body p {
margin:0;
}
body.mp_fixed {
position:fixed;
left:0;
width:100%;
height:100%;
}

.mp_origin_header {
border-bottom:1px solid #0068b7;
}
.mp_origin_header_inner,
.mp_wrapper {
width:980px;
min-height:60px;
margin:0 auto;
padding-top:2px;
}

#mp_title_area {
overflow:hidden;
margin-left:0;
background-image:url("/2023/open/navg/k/offers/img/mp_offers_bg001.png");
background-repeat:no-repeat;
background-position:center;
font-size:0;
line-height:100%;
}
#mp_title_area #mp_t_a_bnr {
padding:40px 0 33px 0;
text-align:center;
}

/* mp_search */
#mp_search {
padding:24px 40px 29px 40px;
background-color:#f5f5f5;
}
#mp_search ul {
display:flex;

align-items:flex-end;
}
#mp_search li {
display:inline-block;
}
#mp_search li:nth-child(2) {
padding:0 5px;
color:#acacac;
font-size:37px;
line-height:110%;
}
#mp_search li:nth-child(4) {
padding-left:30px;
}
#mp_search li p {
padding:0 0 5px 2px;
font-size:18px;
font-weight:bold;
}

#mp_search .mp_select {
position:relative;
}
#mp_search .mp_select::after {
position:absolute;
top:14px;
right:10px;
pointer-events:none;
content:url("/2023/open/navg/k/offers/img/mp_offers_006.png");
}
#mp_search .mp_select select {
width:360px;
height:44px;
padding:0 14px;
border:1px solid #aaa;
border-radius:3px;
background-color:#fff;

-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
}
#mp_search .mp_select select::-ms-expand {
display:none;
}
#mp_search button {
width:109px;
height:44px;
border:none;
border-radius:5px;
background-color:#0087e6;
box-shadow:0 1px 2px rgba(0,0,0,0.3);
color:#fff;
font-size:18px;
cursor:pointer;
}
#mp_search button:hover {
background-color:#66b7f0;
}

.mp_es_list_title {
margin:32px 0;
font-size:18px;
text-align:center;
line-height:185%;
}
.mp_es_list > li {
margin-bottom:25px;
padding:25px 30px 12px 30px;
background-color:#fff;
}
.mp_es_list > li:last-child {
border-bottom:none;
}

.mp_es_list_detail > li {
margin-bottom:25px;
padding:0 0 0 0;
background-color:#fff;
}

.mp_es_list_info {
display:flex;
flex-direction:column;
position:relative;
margin-bottom:12px;
padding:0 0 8px 81px;
border-bottom:1px solid #ddd;
}
.mp_es_list_info::before {
position:absolute;
top:0;
left:1px;
content:url("/2023/open/navg/k/offers/img/mp_offers_002.png");
}
.mp_es_list_info ul {
padding-bottom:12px;
}
.mp_es_list_info ul li {
display:inline-block;
}
.mp_es_list_info ul li:nth-child(odd) {
position:relative;
float:left;
width:100px;
margin-right:12px;
padding:6px 10px 4px 36px;
background-color:#e5f0f8;
font-size:14px;
font-weight:bold;
line-height:100%;
}
.mp_es_list_info ul li.sotunen::before {
position:absolute;
top:4px;
left:9px;
content:url("/2023/open/navg/k/offers/img/mp_offers_003.png");
}
.mp_es_list_info ul li.naitei::before {
position:absolute;
top:3px;
left:9px;
content:url("/2023/open/navg/k/offers/img/mp_offers_004.png");
}

.mp_es_list_info ul li:nth-child(even) {
padding-top:2px;
font-size:15px;
}

.mp_es_list_pr dd {
color:#333;
font-size:19px;
font-weight:bold;
line-height:155%;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
.mp_es_list_pr dd.full_text {
font-size:16px;
font-weight:normal;
line-height:185%;
}

.mp_es_list_pr_detail dt {
position:relative;
margin-top:40px;
padding:15px 10px 12px 54px;
background-color:#e5f0f8;
font-size:21px;
font-weight:bold;
line-height:100%;
}
.mp_es_list_pr_detail dt::before {
position:absolute;
top:9px;
left:13px;
}
.mp_es_list_pr_detail .pr_self dt::before {
content:url("/2023/open/navg/k/offers/img/mp_offers_detail01.png");
}
.mp_es_list_pr_detail .pr_absorbed dt::before {
content:url("/2023/open/navg/k/offers/img/mp_offers_detail02.png");
}
.mp_es_list_pr_detail .pr_activit dt::before {
content:url("/2023/open/navg/k/offers/img/mp_offers_detail03.png");
}

.mp_es_list_pr_detail dd {
padding:24px 0 11px 0;
color:#333;
font-size:16px;
line-height:185%;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}

.mp_es_list_item {
animation:fadeIn 0.5s;
}

#mp_loading,
#mp_error_xml,
#mp_no_result {
padding:100px 0;
text-align:center;
animation:fadeIn 0.2s;
}

.mp_es_list_info_detail {
display:flex;
flex-direction:column;
position:relative;
margin:41px 0 0 0;
padding:24px 24px 14px 108px;
border:1px solid #aaa;
}
.mp_es_list_info_detail::before {
position:absolute;
top:24px;
left:29px;
content:url("/2023/open/navg/k/offers/img/mp_offers_002.png");
}
.mp_es_list_info_detail ul {
padding-bottom:7px;
}
.mp_es_list_info_detail ul li {
display:inline-block;
}
.mp_es_list_info_detail ul li:nth-child(odd) {
position:relative;
float:left;
width:141px;
margin-right:12px;
padding:6px 10px 4px 36px;
background-color:#e5f0f8;
font-size:14px;
font-weight:bold;
line-height:100%;
}
.mp_es_list_info_detail ul li.sotunen::before {
position:absolute;
top:4px;
left:9px;
content:url("/2023/open/navg/k/offers/img/mp_offers_003.png");
}
.mp_es_list_info_detail ul li.naitei::before {
position:absolute;
top:3px;
left:9px;
content:url("/2023/open/navg/k/offers/img/mp_offers_004.png");
}

.mp_es_list_info_detail ul li:nth-child(even) {
font-size:15px;
line-height:195%;
}

/* mp_result */
#mp_result {
margin-top:31px;
padding:40px;
background-color:#e5f0f8;
}
#mp_result form {
display:flex;
width:100%;

justify-content:space-between;
}
#mp_result input {
display:none;
}
#mp_result label {
display:flex;
width:32%;
height:50px;
margin-bottom:30px;
border:3px solid #0087e6;
border-radius:5px;
background-color:#fff;
color:#0087e6;
font-size:18px;
cursor:pointer;

align-items:center;
justify-content:center;
}
#mp_result label:hover,
#mp_result input:checked + label {
background-color:#0087e6;
color:#fff;
}
#mp_result input:checked + label:hover {
border-color:#66b7f0;
background-color:#66b7f0;
}
#mp_result .mp_other_btn {
padding:20px 0;
text-align:center;
}
#mp_result .mp_other_btn button {
display:inline-block;
width:240px;
height:60px;
border:none;
border-radius:5px;
background-color:#0087e6;
box-shadow:0 1px 2px rgba(0,0,0,0.3);
color:#fff;
font-size:22px;
cursor:pointer;
}
#mp_result .mp_other_btn button:hover {
background-color:#66b7f0;
}

#mp_result_detail {
margin-top:0;
padding:0;
}

.mp_detail_notice_text {
padding:11px 0 27px 0;
color:#666;
font-size:12px;
}

#mp_detail_open_es {
padding:33px 0 25px 0;
background-color:#e5f0f8;
text-align:center;
}
#mp_detail_open_es ul {
list-style:none;
margin:0 auto;
padding:0;
}
#mp_detail_open_es ul button {
display:inline-block;
width:240px;
margin:11px 0 24px 0;
padding:12px;
border:none;
border-radius:5px;
background-color:#ff9422;
box-shadow:0 1px 2px rgba(0,0,0,0.3);
color:#fff;
font-size:22px;
letter-spacing:-0.7px;
cursor:pointer;
}
#mp_detail_open_es ul button:hover {
background-color:#ffbf7a;
}
#mp_detail_open_es ul li:nth-child(1) {
font-size:19px;
letter-spacing:-0.8px;
}
#mp_detail_open_es ul li:nth-child(1) span {
display:inline-block;
position:relative;
}
#mp_detail_open_es ul li:nth-child(1) span::before {
position:absolute;
top:2px;
left:-21px;
content:url("/2023/open/navg/k/offers/img/mp_offers_detail04.png");
}
#mp_detail_open_es ul li:nth-child(1) span::after {
position:absolute;
top:2px;
right:-17px;
content:url("/2023/open/navg/k/offers/img/mp_offers_detail05.png");
}
#mp_detail_open_es ul li:nth-child(3) a {
color:#0087e6;
text-decoration:none;
}
#mp_detail_open_es ul li:nth-child(3) a:hover {
text-decoration:underline;
}

/* mp_modal_window */
.mp_modal_window {
display:none;
position:fixed;
z-index:2;
top:50%;
left:50%;
width:620px;
height:475px;
padding:36px 40px;
background-color:#fff;
transform:translate(-50%, -50%);
animation:fadeIn 0.2s;
}

.mp_modal_steps {
height:225px;
margin-left:70px;
padding-left:65px;
background-image:url("/2023/open/navg/k/offers/img/mp_offers_modal01.png");
background-repeat:no-repeat;
}
.mp_step02 {
background-image:url("/2023/open/navg/k/offers/img/mp_offers_modal02.png")!important;
}
.mp_step03 {
background-image:url("/2023/open/navg/k/offers/img/mp_offers_modal03.png")!important;
}
.mp_step04 {
background-image:url("/2023/open/navg/k/offers/img/mp_offers_modal04.png")!important;
}
.mp_modal_steps li {
padding:17px 0;
color:#222;
}
.mp_modal_steps li.checked {
padding:15px 0 19px 0!important;
color:#aaa;
}
.mp_modal_notice {
padding:25px 0;
font-size:12px;
text-align:center;
}

#mp_modal_bg {
display:none;
position:fixed;
z-index:1;
top:0;
right:0;
bottom:0;
left:0;
width:100%;
background-color:rgba(0, 0, 0, 0.5);
}
.mp_modal_area {
position:relative;
}
.mp_modal_area > p img {
width:100%;
}
.mp_open_modal {
position:absolute;
top:50%;
left:50%;
text-align:center;
transform:translate(-50%, -50%);
}
.mp_open_modal p:last-child {
padding-top:12px;
text-shadow:2px 2px 2px #fff,
-2px 2px 2px #fff,
2px -2px 2px #fff,
-2px -2px 2px #fff;
font-size:14px;
}
.mp_scout_btn {
text-align:center;
}
.mp_open_btn,
.mp_scout_btn button {
display:inline-block;
width:240px;
border:none;
border-radius:5px;
background-color:#0087e6;
box-shadow:0 1px 2px rgba(0,0,0,0.3);
color:#fff;
font-size:22px;
cursor:pointer;
}
.mp_open_btn:hover,
.mp_scout_btn button:hover {
background-color:#66b7f0;
}
.mp_open_btn {
height:55px;
margin-top:8px;
}
.mp_scout_btn button {
min-width:240px;
width:auto;
margin:0 auto;
padding:17px;
line-height:100%;
}
.mp_modal_window_close {
display:inline-block;
position:absolute;
top:0;
right:0;
cursor:pointer;
}
.mp_modal_window_close:hover {
opacity:0.7;
}

.mp_modal_text {
text-align:center;
}
.mp_modal_text strong {
font-size:18px;
}
.mp_modal_text p:last-child {
padding:11px 0 29px 0;
line-height:165%;
}

/* pagination */
.paginationjs-pages ul {
display:flex;

flex-wrap:nowrap;
justify-content:center;
}
.paginationjs-pages li {
display:flex;
width:58px;
height:58px;
margin:14px 10px 20px 10px;
border:1px solid #0087e6;
background-color:#fff;
box-shadow:0 1px 2px rgba(0,0,0,0.3);
cursor:pointer;

align-items:center;
justify-content:center;
}
.paginationjs-pages li:hover {
background-color:#0087e6;
color:#fff;
}
.paginationjs-pages li:hover a {
color:#fff;
}
.paginationjs-pages a {
color:#0087e6;
text-decoration:none;
}
.paginationjs-pages li.active,
.paginationjs-pages li.disabled {
border:1px solid #ddd;
box-shadow:none;
cursor:default;
}
.paginationjs-pages li.active:hover,
.paginationjs-pages li.disabled:hover {
background-color:#fff;
}
.paginationjs-pages li.active a,
.paginationjs-pages li.disabled a {
color:#aaa;
}

.paginationjs-prev,
.paginationjs-next {
width:118px!important;
}

li.paginationjs-ellipsis {
width:auto;
margin:16px 0 0 0;
border:none!important;
background-color:transparent;
box-shadow:none;
cursor:default;
}
li.paginationjs-ellipsis:hover {
background-color:transparent!important;
}
li.paginationjs-ellipsis a {
color:#0087e6!important;
}

/* mp_bottom_text */
#mp_bottom_text li {
padding:20px 0 16px 0;
text-align:right;
}
#mp_bottom_text li a {
position:relative;
color:#0087e6;
text-decoration:none;
}
#mp_bottom_text li a:hover {
text-decoration:underline;
}
#mp_bottom_text li a::before {
position:absolute;
top:-2px;
left:-11px;
content:url("/2023/open/navg/k/offers/img/mp_offers_007.png");
}