@use "../../scss/" as *;
.portfolio-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  &.active {
    opacity: 1;
    visibility: visible;
    .portfolio-detail__content {
      transform: scale(1);
    }
  }
  &__inner {
    @include flex(center, center);
    min-height: 100vh;
    padding: 40px 15px;
    position: relative;
  }
  &__content {
    @include flex(flex-start, space-between);
    background-color: rgba(37, 37, 37);
    padding: 30px;
    max-width: 1200px;
    width: 100%;
    border-radius: 6px;
    transform: scale(0.98);
    @include tablet {
      display: block;
    }
    &-left,
    &-right {
      width: 49%;
      @include tablet {
        width: 100%;
      }
    }
    .img {
      width: 100%;
      overflow: hidden;
      border-radius: 10px;
      &-wrap {
        width: 100%;
        padding-top: 62.5%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    h3 {
      font-size: 33px;
      text-transform: uppercase;
      color: var(--main-color);
      margin-bottom: 1rem;
      border-bottom: 3px solid rgba(255, 255, 255, 0.1);
      span {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 50%;
          height: 3px;
          background-color: var(--main-color);
        }
      }
    }
    p {
      margin-bottom: 1rem;
      line-height: 1.5;
      font-weight: 400;
      color: $white;
    }
    ul {
      li {
        margin-bottom: 10px;
        font-weight: 300;
        text-transform: capitalize;
        color: $white;

        span {
          font-weight: 400;
          color: $white;
        }
        a {
          text-transform: lowercase;
          color: var(--main-color);
          font-weight: 400;
        }
      }
    }
    .video {
      position: relative;
      width: 100%;
      padding-top: 62.5%;
      display: none;
      .frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        iframe {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
.close-btn {
  position: absolute;
  top: -22px;
  right: -22px;
  @include flex(center, center);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: $box-shadow;
  backdrop-filter: blur(5px);
  cursor: pointer;
  z-index: 99;
  i {
    font-size: 28px;
    color: var(--main-color);
    cursor: pointer;
    z-index: 99;
  }
}
