@use "../../scss/" as *;
.portfolio {
  min-height: 800px;
  @include mobile {
    padding: 3.75rem 1rem;
  }
}
.tab {
  padding: 0 1rem;
  @include tablet {
    padding: 0;
  }
  &__nav {
    @include flex(center, center);
    @include mobile {
      flex-wrap: wrap;
    }
    & * ~ * {
      margin-left: 1rem;
    }
    &-item {
      font-family: $pp-font;
      font-size: 14px;
      font-weight: 600;
      border-radius: 10px;
      text-transform: uppercase;
      padding: 0.5rem 0.75rem;
      margin-bottom: 2rem;
      background-color: var(--nav-bg-color);
      color: var(--reverse-color);
      transition: all 0.3s ease;
      &:focus {
        border: none;
        outline: none;
      }
      &:hover {
        cursor: pointer;
        background-color: var(--main-color);
      }
      @include mobile {
        width: 45%;
        padding: 1rem 1.5rem;
        margin: 0.5rem;
        text-align: center;
      }
    }
  }
  &__panel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    @include mobile {
      margin-top: .5rem;
    }
  }
}
.react-tabs__tab--selected {
  background-color: var(--main-color);
}
